<footer>
    <div class="grupo-1">
        <!-- BOX 1 -->
        <div class="box">
            <figure>
                <a href="#">
                    <img src="../static/images/logos/LogoCACMedical.png" alt="logo-cac-medical">
                </a>
            </figure>
        </div>

        <!-- BOX 2 -->
        <div class="box">
            <h2>¡Hey!</h2>
            <p>¿Queres estar al tanto de nuestras últimas novedades, promociones y noticias?</p>
            <p>En nuestras plataformas sociales tendrás acceso a contenido exclusivo.</p>

        <h2>Seguinos</h2>
        <div class="red-social">
            <a href="https://www.instagram.com"><img  src="../static/images/logos/logo-instagram.png" alt="logo-instagram"></a>
            <a href="https://www.facebook.com"> <img  src="../static/images/logos/logo-facebook.png" alt="logo-facebook"></a>
            <a  href="https://x.com"><img src="../static/images/logos/logo-X.png" alt="logo-X"></a>
            <a href="https://www.youtube.com"> <img  src="../static/images/logos/logo-youtube.png" alt="logo-youtube"></a>
        </div>
    </div>
</div>

    <div class="grupo-2">
        <small>&copy; 2024 <b>CAC Medical</b> - Todos los Derechos Reservados</small>
    </div>

</footer>